In [1]:
#EDA Libraries
import pandas as pd
from pandas import DataFrame
from pandas import concat
import numpy as np

In [2]:
from statsmodels.tsa.api import VAR

In [3]:
#Lettura del File
df=pd.read_excel('SHILLER_Data.xlsx')

#Impostazione della data come indice
df.set_index('Date', inplace=True)
df.head()

#Eliminazione delle colonne Dividends e CPI
df=df.drop(['Dividends' ,'CPI'],axis=1)
df.dropna()

                S&P 500    Earnings  10Y Usa Rate
Date
1900-01-31     6.100000    0.480000      3.150000
1900-02-28     6.210000    0.480000      3.145833
1900-03-31     6.260000    0.480000      3.141667
1900-04-30     6.340000    0.480000      3.137500
1900-05-31     6.040000    0.480000      3.133333
...                 ...         ...           ...
2023-08-31  4457.358696  183.170000      4.170000
2023-09-30  4409.095000  184.250000      4.380000
2023-10-31  4269.400909  186.976667      4.800000
2023-11-30  4460.063333  189.703333      4.500000
2023-12-31  4685.051500  192.430000      4.020000

[1488 rows x 3 columns]

In [4]:
# Selezionde dati (dal 1945-01-31 in poi)
initial_date = '1945-01-31'
df = df[df.index >= initial_date]
df.head()

            S&P 500  Earnings  10Y Usa Rate
Date
1945-01-31    13.49  0.940000         2.370
1945-02-28    13.94  0.950000         2.355
1945-03-31    13.93  0.960000         2.340
1945-04-30    14.28  0.973333         2.325
1945-05-31    14.82  0.986667         2.310

In [6]:
# Trasformazione 
l_df=np.log(df)

In [13]:
# Creation of the VAR model
l_df = l_df.asfreq('ME')
model = VAR(l_df)
print(model)

<statsmodels.tsa.vector_ar.var_model.VAR object at 0x0000018284B05CD0>

In [8]:
# Using the 'select_order' function to determine the optimal lag
lag_order = model.select_order(maxlags=15)
lag_order

In [10]:
print(lag_order.summary())

 VAR Order Selection (* highlights the minimums)
==================================================
       AIC         BIC         FPE         HQIC
--------------------------------------------------
0       -2.437      -2.422     0.08738      -2.432
1       -18.75      -18.69   7.207e-09      -18.72
2       -19.81      -19.70   2.503e-09      -19.76
3       -19.86     -19.71*   2.369e-09      -19.80
4       -19.88      -19.67   2.330e-09      -19.80
5       -19.90      -19.65   2.279e-09     -19.80*
6       -19.90      -19.60   2.287e-09      -19.78
7       -19.89      -19.55   2.301e-09      -19.76
8       -19.94      -19.55   2.196e-09      -19.79
9       -19.93      -19.49   2.216e-09      -19.76
10      -19.91      -19.43   2.245e-09      -19.73
11      -19.96      -19.43   2.155e-09      -19.75
12      -19.96      -19.38   2.150e-09      -19.74
13      -19.96      -19.34   2.149e-09      -19.72
14      -20.04      -19.37   1.990e-09      -19.78
15     -20.04*      -19.32  1.985e-09*      -19.76
--------------------------------------------------

In [9]:
# Find the optimal lag for each criterion
aic_lag = lag_order.aic
bic_lag = lag_order.bic
hqic_lag = lag_order.hqic
fpe_lag = lag_order.fpe
print(aic_lag, bic_lag, hqic_lag, fpe_lag)

15 3 5 15

In [15]:
# Trova il minimo tra questi lag
min_lag = min(aic_lag, bic_lag, hqic_lag, fpe_lag)
print(min_lag)

3